<!DOCTYPE html>
<html>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <center><body><h1>Candidate - Result</h1><title>Candidate - Result</title><hr>

<h1>Welcome, <%= candnam %> </h1>
<B>Submitted Time :</B>  <%= subtime %> <BR><br>

<B>Positive Marks : </B><%= posit %> <BR><br>
<B>Negative Marks :</B>  <%= negat %> <BR>

<h3>Your Total Marks : <%= marks %> </h3>
<style>
    body{
        font-family: Roboto;
        font-size: 14px;
    }
    </STYLE></body>
</html>